TUniDSAFormStyle BITMAP "images\\TUniDSAFormStyle.bmp"
TUniDSAConfirm BITMAP "images\\TUniDSAConfirm.bmp"
TUniDSALogin BITMAP "images\\TUniDSALogin.bmp"
TUniDSAQrCodeReader BITMAP "images\\TUniDSAQrCodeReader.bmp"
TUniDSAQrCodeGenerator BITMAP "images\\TUniDSAQrCodeGenerator.bmp"
TUniDSASignature BITMAP "images\\TUniDSASignature.bmp"
TUniDSABarcodeGenerator BITMAP "images\\TUniDSABarcodeGenerator.bmp"
TUniDSAToast BITMAP "images\\TUniDSAToast.bmp"
TUniDSAMenuLateral BITMAP "images\\TUniDSAMenuLateral.bmp"
TUniDSAFlexPanel BITMAP "images\\TUniDSAFlexPanel.bmp"
TUniDSAKanban BITMAP "images\\TUniDSAKanban.bmp"
