.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
-webkit-box-shadow: inset 2px -3px 16px -5px rgba(0,0,0,0.08);
-moz-box-shadow: inset 2px -3px 16px -5px rgba(0,0,0,0.08);
box-shadow: inset 2px -3px 16px -5px rgba(0,0,0,0.08);
}

.form-control:focus {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border-style: solid;
  border-color: #66afe9;
}

.form-group {
    margin-bottom: 10px;
}

